@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

:root {
    height: 100vh;
    background: linear-gradient(
            90deg,
            rgba(36, 22, 18, 0.8) 0%,
            rgba(43, 43, 54, 0.9) 27%,
            rgba(4, 7, 8, 0.8) 84%
        ),
        url('/images/brand/brand-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contentWrapper {
    @include insetShadow();

    position: relative;
    max-width: 1100px;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    margin: 10vh auto 1rem auto;
    padding: 1rem;
    color: $color-dark;
    background: linear-gradient(
            90deg,
            rgba($color-light, 0.3) 30%,
            rgba($color-light, 0.4) 60%,
            rgba($color-light, 0.3) 90%
        ),
        url('/images/ui/paper-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;

    canvas {
        margin: -1rem;
    }
}

.navWrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;

    .navItem {
        width: 10rem;
        padding: 0.7rem;
        font-size: 20px;
        color: $color-light;
        background: $color-dark;
        border-bottom: 2px solid $color-primary;
        border-radius: 0.7rem;

        &:hover {
            cursor: pointer;
            color: lighten($color-primary, 10);
            background: darken($color-dark, 10);
            border-bottom: 2px solid lighten($color-primary, 10);
        }
    }
}

.navItemDev {
    position: fixed;
    top: 3rem;
    left: 1rem;
    padding: 5px 10px;
    color: $color-light;
    background: $color-dark;
    border: 2px solid $color-primary;
    border-radius: 0.7rem;

    &:hover {
        cursor: pointer;
        background-color: $color-primary;
    }
}
