.fixedPanelButton {
    // position: fixed;
    // top: 1rem;
    // left: 1rem;
    padding: 5px 10px;
    background-color: $color-dark;
    color: $color-light;
    cursor: pointer;
    z-index: 100;
    border: 2px solid $color-primary;
    border-radius: 0.7rem;

    &:hover {
        background-color: $color-primary;
        transform: translateY(-1px);
    }
}
