@use 'sass:color';
@import './variables.scss';
@import './mixins.scss';

.modalBackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem;
    z-index: 50;
    overflow-x: hidden;
    background: rgba(color.adjust($color-dark, $lightness: -10%), 0.05);
}

.modalWrapper {
    @include boxShadow;

    width: 100%;
    max-width: 44rem;
    margin: auto;
    padding: 1rem;
    background: $color-light;
    color: $color-dark;
    border-radius: 1rem;
}

.modalCloseBtn {
    width: 80%;
    margin: auto 10%;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 500;
    color: $color-light;
    background: $color-dark;
    border-bottom: 2px solid $color-primary;
    border-radius: 0.7rem;

    &:hover {
        @include boxShadowSm();
        cursor: pointer;
        color: color.adjust($color-primary, $lightness: 10%);
        background: color.adjust($color-dark, $lightness: -10%);
        border-bottom: 2px solid color.adjust($color-primary, $lightness: 10%);
    }
}
