@use 'sass:color';
@import './variables.scss';

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: color.adjust($color-primary, $lightness: -5%);
    border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
    background: color.adjust($color-primary, $lightness: -10%);
}

::-webkit-scrollbar-thumb:active {
    background: color.adjust($color-primary, $lightness: -15%);
}
