@use 'sass:color';
@import './variables.scss';

.title {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    color: color.adjust($color-primary, $lightness: 10%);
}

.subtitle {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: $color-light;
}

.btn {
    width: 100%;
    display: block;
    padding: 2rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: $color-light;
    background: $color-dark;
    border-bottom: 2px solid $color-primary;
    border-radius: 0.7rem;

    &:hover {
        @include boxShadowSm();
        cursor: pointer;
        color: color.adjust($color-primary, $lightness: 10%);
        background: color.adjust($color-dark, $lightness: -10%);
        border-bottom: 2px solid color.adjust($color-primary, $lightness: 10%);
    }
}

.panelBtn {
    padding: 5px 10px;
    background-color: $color-dark;
    color: $color-light;
    cursor: pointer;
    z-index: 100;
    border: 2px solid $color-primary;
    border-radius: 0.7rem;

    &:hover {
        background-color: $color-primary;
        transform: translateY(-1px);
    }
}

.light {
    color: $color-light;
}

.dark {
    color: $color-dark;
}

.primary {
    color: $color-primary;
}

.error {
    color: $color-error;
}

.success {
    color: $color-success;
}

.bold {
    font-weight: 600;
}

.thin {
    font-weight: 200;
}

.left {
    text-align: left;
}

.gone {
    display: none;
}

.blur {
    filter: blur(3px);
}

.common {
    color: $color-common;
}

.rare {
    color: $color-rare;
}

.unique {
    color: $color-unique;
}

.epic {
    color: $color-epic;
}

.mythical {
    color: $color-mythical;
}

.route {
    color: $color-route;
}

.collision {
    color: $color-collision;
}

.passage {
    color: $color-passage;
}

.npc {
    color: $color-npc;
}

.encounter {
    color: $color-encounter;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inline {
    display: inline;
}
