@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.shopViewOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .shopView {
        @include boxShadowSm;

        background: rgba($color-light-grey, 0.65);
        border-radius: 0.62rem;
        padding: 1.25rem;
        width: 90%;
        position: relative;
        max-height: 32rem;
        overflow-y: auto;
        display: flex;
        gap: 5rem;

        .closeShopButton {
            position: absolute;
            top: 0.62rem;
            right: 0.62rem;
            width: 2.5rem;
            height: 2.5rem;
            background: rgba($color-dark, 0.8);
            border: 2px solid rgba($color-light, 0.8);
            border-radius: 50%;
            font-size: 1.25rem;
            color: $color-light;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover,
            &:focus {
                color: lighten($color-primary, 10);
                background-color: rgba($color-dark, 0.9);
                transform: scale(1.1);
            }
        }

        .shopItems {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(5rem, max-content));
            gap: 1rem 3rem;
            text-align: center;
            min-height: 24rem;
            width: 70%;

            .shopItem {
                position: relative;
                border: 5px solid #ddd;
                border-radius: 5px;
                cursor: pointer;
                user-select: none;

                width: 8rem;
                height: 8rem;

                &.disabled {
                    cursor: auto;
                }

                &.Common {
                    @include insetShadow($color-common);
                    border: 5px solid rgba($color-common, 0.7);
                }

                &.Rare {
                    @include insetShadow($color-rare);
                    border: 5px solid rgba($color-rare, 0.7);
                }

                &.Epic {
                    @include insetShadow($color-epic);
                    border: 5px solid rgba($color-epic, 0.7);
                }

                &.Mythical {
                    @include insetShadow($color-mythical);
                    border: 5px solid rgba($color-mythical, 0.7);
                }

                &:hover,
                &:focus {
                    color: lighten($color-primary, 10);
                    background-color: rgba($color-dark, 0.9);
                }

                &:disabled {
                    background: rgba($color-grey, 0.8);
                    cursor: auto;
                }

                .shopItemImage {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }


                .shopItemOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
            }
        }

        .shopPanel {
            position: sticky;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            top: 5rem;

            .buyButton {
                background: rgba($color-primary, 0.8);
                color: $color-dark;
                border: none;
                padding: 0.3rem;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1.2rem;
                line-height: 1.7rem;

                &:hover {
                    color: lighten($color-primary, 10);
                    background-color: rgba($color-dark, 0.9);
                }
                
                &:disabled {
                    background: rgba($color-grey, 0.8);
                    cursor: auto;
                }
            }

            .goldAmount {
                font-size: 1.2rem;
                font-weight: bold;
                color: $color-dark;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
