@use 'sass:color';
@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.shopViewOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .shopView {
        @include boxShadowSm;
        background: rgba($color-light-grey, 0.88);
        border-radius: 0.62rem;
        padding: 1.25rem;
        width: 80%;
        height: 80%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
}

.shopItems {
    height: min-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    gap: 1rem;
    text-align: center;

    .shopItemEmpty {
        width: 6rem;
        height: 6rem;
        position: relative;
        border: 1px solid $color-dark;
        border-radius: 1rem;
        user-select: none;
        overflow: hidden;
        transition: all 0.5s;

        &:hover {
            cursor: auto;
            background: rgba($color-grey, 0.2);
        }
    }
}

.userItems {
    .userItem {
        @include insetShadow(rgba($color-dark, 0.5), 15px);
        width: 22rem;
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 1rem;
        border: 1px solid $color-dark;

        p {
            margin: 0;
        }

        .userItemAction {
            font-size: 20px;
            font-weight: 600;
            user-select: none;
            cursor: pointer;
        }
    }
}

.shopPanel {
    width: 16rem;
    min-height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .goldAmount {
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-dark;

        p {
            margin: 0;
        }
    }

    .errorLabel {
        font-size: 1rem;
        color: $color-error;
    }

    .buyButton {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: $color-light;
        background: $color-dark;
        border-bottom: 2px solid $color-primary;
        border-radius: 0.7rem;

        &:hover {
            @include boxShadowSm();
            cursor: pointer;
            color: color.adjust($color-primary, $lightness: 10%);
            background: color.adjust($color-dark, $lightness: -10%);
            border-bottom: 2px solid color.adjust($color-primary, $lightness: 10%);
        }

        &:disabled {
            cursor: not-allowed;
            background: rgba($color-dark, 0.8);
            color: $color-dark;
            opacity: 0.8;
        }
    }

    .closeShopButton {
        width: 100%;
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        color: $color-dark;
        background: color.adjust($color-primary, $lightness: 10%);

        border-bottom: 2px solid $color-dark;
        border-radius: 0.7rem;

        &:hover {
            @include boxShadowSm();
            cursor: pointer;
            color: color.adjust($color-dark, $lightness: -10%);
            background: color.adjust($color-primary, $lightness: 20%);
            border-bottom: 2px solid color.adjust($color-dark, $lightness: -10%);
        }
    }
}

.modeShopButton {
    position: absolute;
    top: 0.15rem;
    right: 1rem;
    font-size: 25px;
    font-weight: 900;
    color: color.adjust($color-primary, $lightness: -10%);
    background: none;

    p {
        @include textShadow($color-primary);
        margin: 0;
        font-size: 50px;
    }

    &:hover p {
        cursor: pointer;
        transform: scale(1.2);
        color: color.adjust($color-primary, $lightness: -5%);
    }
}
