@import '../styles/variables.scss';

.progressBar {
    width: 90%;
    height: 0.5rem;
    background-color: $color-light;
    border-radius: 0.25rem;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    transition: width 0.3s ease-in-out;
}
