@import '../styles/variables.scss';

.tooltipContainer {
    width: 100%;
    height: fit-content;
}

.tooltipWrapper {
    width: 100%;
    position: fixed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 14px;
    background-color: $color-dark;
    color: $color-light;
    border: 2px solid $color-light;
    opacity: 0.9;
    z-index: 100;
}
