@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.characterItem {
    position: relative;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color-light, 0.5);
    transition: all 0.5s;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    img {
        width: 90%;
        margin-bottom: 0.5rem;
        animation: bounceAnimation 5s infinite;
    }
}

.characterAlly {
    img {
        animation: bounceAnimationAlly 5s infinite;
    }
}

.characterActive {
    @include insetShadow($color-dark);
}

.targetActive {
    @include insetShadow($color-error);
}

.targetDefaultActive {
    @include insetShadow($color-unique, 25px);
}

.characterDead {
    opacity: 0.5;

    &:hover {
        opacity: 0.7;
        cursor: auto;
    }

    img {
        animation: none;
        filter: grayscale(100%);
    }
}

.logItem {
    @include textShadow();

    width: max-content;
    position: absolute;
    z-index: 100;
    left: 50%;
    font-size: 24px;
    font-weight: 600;
    color: $color-light;
    opacity: 0;
    animation: slideTop 1.5s ease-in-out;
}

.logItemCritical {
    font-size: 30px;
    font-weight: 800;
}

.logItemDodged {
    color: $color-light;
}

.effectLogItem {
    @include textShadow();
    margin: 0;
    line-height: 1;
    font-size: 18px;
    color: $color-dark;
}

.logItemStatus {
    @include textShadow();
    line-height: 1;
    font-size: 18px;
}

.allyAttacking {
    animation: attackAnimationAlly 1s forwards;
}

.enemyAttacking {
    animation: attackAnimation 1s forwards;
}

@keyframes attackAnimation {
    0%,
    100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
}

@keyframes attackAnimationAlly {
    0%,
    100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
}

@keyframes bounceAnimation {
    0%,
    100% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-4px);
    }
}

@keyframes bounceAnimationAlly {
    0%,
    100% {
        transform: translateY(1px) rotateY(180deg);
    }
    50% {
        transform: translateY(-4px) rotateY(180deg);
    }
}

@keyframes slideTop {
    0% {
        transform: translate(-50%, -50px);
        opacity: 0;
    }
    1% {
        transform: translate(-50%, -55px);
        opacity: 1;
    }
    30% {
        transform: translate(-55%, -65px);
        opacity: 1;
    }
    60% {
        transform: translate(-45%, -80px);
        opacity: 0.8;
    }
    80% {
        transform: translate(-35%, -90px);
        opacity: 0.5;
    }
    100% {
        transform: translate(-30%, -100%);
        opacity: 0;
    }
}

.tooltipItem {
    text-align: center;

    p {
        margin: 0;
    }
}

.statusWrapper {
    p {
        font-size: 10px;
    }
}
