@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.characterItem {
    position: relative;
    width: 7rem;
    height: 8rem;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba($color-light, 0.5);
    transition: all 0.5s;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    img {
        width: 6rem;
        animation: bounceAnimation 5s infinite;
    }
}

.characterAlly {
    img {
        animation: bounceAnimationAlly 5s infinite;
    }
}

.characterActive {
    @include insetShadow($color-dark);
}

.targetActive {
    @include insetShadow($color-error);
}

.characterDead {
    opacity: 0.5;

    &:hover {
        opacity: 0.7;
        cursor: auto;
    }

    img {
        animation: none;
        filter: grayscale(100%);
    }
}

.logItem {
    @include textShadow();

    width: max-content;
    position: absolute;
    z-index: 100;
    left: 50%;
    font-size: 20px;
    font-weight: 600;
    color: $color-light;
    opacity: 0;
    animation: slideTop 1s forwards;
}

.logItemCritical {
    font-size: 24px;
    font-weight: 800;
}

.logItemDodged {
    color: $color-light;
}

.effectLogItem {
    margin: 0;
    font-size: 14px;
    color: $color-dark;
}

.logItemStatus {
    line-height: 1;
    font-size: 12px;
}

@keyframes bounceAnimation {
    0%,
    100% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-4px);
    }
}

@keyframes bounceAnimationAlly {
    0%,
    100% {
        transform: translateY(1px) rotateY(180deg);
    }
    50% {
        transform: translateY(-4px) rotateY(180deg);
    }
}

@keyframes slideTop {
    0% {
        transform: translate(-50%, -50px);
        opacity: 0;
    }
    1% {
        transform: translate(-50%, -50px);
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -75px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -85px);
        opacity: 0;
    }
}

.tooltipItem {
    text-align: center;

    p {
        margin: 0;
    }
}

.statusWrapper {
    p {
        font-size: 10px;
    }
}
