@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.itemsWrapper {
    max-height: 16rem;
    overflow-y: auto;
}

.itemItem {
    width: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &:hover {
        cursor: pointer;
        background: darken($color-light, 10);
    }
}

.itemDisabled {
    opacity: 0.67;

    &:hover {
        cursor: default;
        background: darken($color-light, 5);
    }
}
