@use 'sass:color';
@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.itemWrapper {
    width: 4rem;
    height: 4rem;
    max-width: 100%;
    max-height: 100%;

    &.Common {
        @include insetShadow($color-common);
        border: 2px solid color.adjust($color-common, $lightness: 10%);
    }

    &.Rare {
        @include insetShadow($color-rare);
        border: 2px solid color.adjust($color-rare, $lightness: 10%);
    }

    &.Unique {
        @include insetShadow($color-unique);
        border: 1px solid color.adjust($color-unique, $lightness: 10%);
    }

    &.Epic {
        @include insetShadow($color-epic);
        border: 2px solid color.adjust($color-epic, $lightness: 10%);
    }

    &.Mythical {
        @include insetShadow($color-mythical);
        border: 2px solid color.adjust($color-mythical, $lightness: 10%);
    }

    img {
        width: 90%;
        margin: 5%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
}

.itemTooltip {
    p {
        margin: 0;
    }

    hr {
        height: 1px;
    }
}

.rarityLabel {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 12px;
    text-align: center;
}
