@use 'sass:color';
@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.header {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.questsWrapper {
    width: 100%;
    padding: 0 0.625rem;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;

    button {
        background: none;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.8s, color 0.4s;
        border-bottom: 2px solid $color-primary;
        position: relative;

        &:hover {
            background-color: $color-light;
            color: $color-dark;
        }

        .count {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            border-radius: 50%;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
            min-width: 1.5rem;
            text-align: center;
        }
    }

    .active {
        background-color: $color-primary;
        color: $color-light;
    }
}

.questItem {
    @include boxShadow;
    @include fadeInAnimation;

    & {
        width: 90%;
        max-width: 40rem;
        margin: 1rem auto;
        background: $color-transparent-standard;
        border: 1px solid $color-light;
        border-radius: 0.5rem;
        padding: 2rem;
        transition: background-color 1s ease, border-color 1s ease;
        user-select: none;
    }

    &:hover {
        background-color: color.adjust(rgba($color-grey, 0.35), $lightness: 90%);
        border-color: color.adjust($color-light, $lightness: -90%);
    }

    &.mainQuest {
        background: $color-transparent-special;
        border: 2px solid $color-epic;

        &:hover {
            background-color: color.adjust(rgba($color-epic, 0.3), $lightness: 10%);
            border-color: color.adjust($color-epic, $lightness: -10%);
        }
    }

    .subtitle {
        font-size: 1.5em;
        margin-left: -0.825rem;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }

    .stagesWrapper {
        padding: 0 1rem;
    }

    .stageItem {
        border-top: 1px solid $color-light;

        &:first-of-type {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
        }

        .objective {
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
            font-weight: bold;
        }

        .description {
            font-style: italic;
            margin-bottom: 0.3rem;
        }

        .goals {
            margin-bottom: 0.625rem;

            .goalsHeader {
                font-weight: bold;
                margin-bottom: 0.3rem;
            }

            .goalsList {
                list-style-type: disc;
                padding-left: 1.25rem;

                .goalItem {
                    font-size: 0.9rem;
                    color: $color-grey;
                }
            }
        }

        .rewards {
            font-size: 0.9rem;
            color: $color-grey;
        }

        .state {
            font-size: 0.8rem;
            color: $color-grey;
            margin-top: 0.35rem;
            padding-left: 0.35rem;

            &.Unlocked {
                background-color: $color-light;
                border-left: 4px solid $color-success;
            }

            &.In-progress {
                background-color: $color-light;
                border-left: 4px solid $color-epic;
            }

            &.Failed {
                background-color: $color-light;
                border-left: 4px solid $color-error;
            }

            &.On-hold {
                background-color: $color-light;
                border-left: 4px solid rgb(142, 36, 170);
            }

            &.Completed {
                background-color: $color-light;
                border-left: 4px solid $color-rare;
            }
        }
    }
}
