@import '../../common/styles/variables.scss';
@import '../../common/styles/mixins.scss';

.header {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.questsWrapper {
    padding: 0 0.625rem;
    box-sizing: border-box;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;

    button {
        background: none;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.8s, color 0.4s;
        border-bottom: 2px solid $color-primary;

        &:hover {
            background-color: $color-light;
            color: $color-dark;
        }
    }

    .active {
        background-color: $color-primary;
        color: $color-light;
    }
}

.questItem {
    @include boxShadow;
    @include fadeInAnimation;
    height: fit-content;
    background: $color-transparent-standard;
    border: 1px solid $color-light;
    border-radius: 0.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: 0.625rem 0;
    transition: background-color 1s ease, border-color 1s ease;

    &:hover {
        background-color: lighten(rgba($color-grey, 0.35), 90%);
        border-color: darken($color-light, 90%);
    }

    &.mainQuest {
        background: $color-transparent-special;
        border: 2px solid $color-epic;

        &:hover {
            background-color: lighten(rgba($color-epic, 0.3), 10%);
            border-color: darken($color-epic, 10%);
        }
    }

    .subtitle {
        font-size: 1.5em;
        margin-top: 0.625rem;
        font-weight: bold;
    }

    .stageItem {
        border-top: 1px solid $color-light;

        &:first-of-type {
            border-top: none;
            padding-top: 0;
            margin-top: 0;
        }

        .objective {
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
            font-weight: bold;
        }

        .description {
            font-style: italic;
            margin-bottom: 0.3rem;
        }

        .goals {
            margin-bottom: 0.625rem;

            .goalsHeader {
                font-weight: bold;
                margin-bottom: 0.3rem;
            }

            .goalsList {
                list-style-type: disc;
                padding-left: 1.25rem;

                .goalItem {
                    font-size: 0.9rem;
                    color: $color-grey;
                }
            }
        }

        .rewards {
            font-size: 0.9rem;
            color: $color-grey;
        }

        .state {
            font-size: 0.8rem;
            color: $color-grey;
            margin-top: 0.35rem;
            padding-left: 0.35rem;

            &.Unlocked {
                background-color: $color-light;
                border-left: 4px solid $color-success;
            }

            &.In-progress {
                background-color: $color-light;
                border-left: 4px solid $color-epic;
            }

            // not needed for now
            // &.Failed {
            //     background-color: $color-light;
            //     border-left: 4px solid rgb(211, 47, 47);
            // }

            // &.On-hold {
            //     background-color: $color-light;
            //     border-left: 4px solid rgb(142, 36, 170);
            // }

            &.Completed {
                background-color: $color-light;
                border-left: 4px solid $color-rare;
            }
        }
    }
}
